<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="css/dashboard.css">
     <!-- CSS only -->

	<title>DSD Watch Center - Admin</title>

    <style>
        * {
          box-sizing: border-box;
        }
        
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
        }
        
        label {
          padding: 12px 12px 12px 0;
          display: inline-block;
          margin-left: 40px;
        }
        
        input[type=submit] {
          background-color: #232726;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          width: 300px;
          margin-top: 50px;
          margin-left: 20%;
          /* float: right;
          align-items: center;
          justify-content: center;
          display: fl; */
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        .container1 {
          border-radius: 5px;
          background-color: #bbbbbb;
          padding: 20px;
        }
        
        .col-25 {
          float: left;
          width: 25%;
          margin-top: 6px;
        }
        
        .col-75 {
          float: left;
          width: 60%;
          margin-top: 6px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
          }
        }
        
        
        /* image */
        .form-input {
          width:350px;
          padding:20px;
          background:#fff;
          /* box image */
          border-radius: 4px;
          border: 1px solid #ccc;
        }
        .form-input input {
          display:none;
        
        }
        .form-input label {
          display:block;
          /* width:45%; */
          /* height:45px; */
          margin-left: 15%;
          line-height:20px;
          text-align:center;
          background:gray;
        
          color:#fff;
          font-size:15px;
          font-family:"Open Sans",sans-serif;
          text-transform:Uppercase;
          font-weight:600;
          border-radius:1px;
          cursor:pointer;
        }
        
        .form-input img {
          width:100%;
          display:none;
        
          margin-bottom:30px;
        }
        
        
        /* button group */
        
        .btn-group button {
          background-color: #04AA6D; /* Green background */
          border: 1px solid green; /* Green border */
          color: white; /* White text */
          padding: 10px 24px; /* Some padding */
          cursor: pointer; /* Pointer/hand icon */
          float: left; /* Float the buttons side by side */
        }
        
        /* Clear floats (clearfix hack) */
        .btn-group:after {
          content: "";
          clear: both;
          display: table;
        }
        
        .btn-group button:not(:last-child) {
          border-right: none; /* Prevent double borders */
        }
        
        /* Add a background color on hover */
        .btn-group button:hover {
          background-color: #3e8e41;
        }
        
        /* dropdown button */
        
        .dropbtn {
          background-color: #e6f3e6;
          color: black;
          padding: 10px;
          font-size: 15px;
         border-radius: 4px;
          border: 1px solid #ccc;
          cursor: pointer;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 105px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-content a:hover {background-color: #f1f1f1}
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
        
        .dropdown:hover .dropbtn {
          background-color: #3e8e41;
        }

      /*visibility button */
      
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
        </style>
</head> 

<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <!--<h2>Flintec.</h2> -->
                <h2>Welcome - User</h2>   
            </div>

            <div class="search">
                <h2>DSD Watch Center-Admin Dashboard</h2>
            </div>
            <!-- <i class="fas fa-bell"></i> -->
            <div class="serch">
              <a class="button-logout"  href="/adminLogout" role="button"class="btn btn-primary btn-sm">LogOut</a>  
   
            </div>
        </div>
            <div class="sidebar">
                <ul>
                    <li>
                        <a href="home" class="active">
                            <i class="fas fa-th-large"></i>
                            <div>Home</div>
                        </a>
                    </li>
                    <li>
                        <a href="addProduct">
                            <i class="fas fa-th-large"></i>
                            <div>Add Product</div>
                        </a>
                    </li>
                    <li>
                        <a href="view">
                            <i class="fas fa-th-large"></i>
                            <div>View & Update Product</div>
                        </a>
                    </li>
                    <li>
                        <a href="orders">
                            <i class="fas fa-th-large"></i>
                            <div>Orders</div>
                        </a>
                    </li>

                  <li>
                    <a href="addCatogory">
                        <i class="fas fa-th-large"></i>
                        <div>Category</div>
                    </a>
                </li>

                <% if (role==1) { %>
                   
                  <%} else if (role==2)  { %>
                    <li>
                      <a href="profile">
                          <i class="fas fa-th-large"></i>
                          <div>Admin profile</div>
                      </a>
                  </li>
                     <li>
                         <a href="transaction">
                             <i class="fas fa-th-large"></i>
                             <div>Reports</div>
                         </a>
                     </li>
                     <li>
                       <a href="analyzing">
                           <i class="fas fa-th-large"></i>
                           <div>Analyzing</div>
                       </a>
                   </li>
                  <% } %> 
                  </div>
              
                </ul>
            </div>
    

            <div class="main">
            
                <div class="cards">
                    <div class="card">
                        <div class="card-contenet">
                            <div class="number" id="demo"></div>
                            <div class="card-name">Date</div>
                        </div>
                        <div class="icon-box">
                            
                        </div>
                    </div>
               
                   
                    <div class="card">
                        <div class="card-contenet">
                            <div class="number" id ="demo1"></div>
                            <div class="card-name">Weekly Pending Product</div>
                        </div>
                        <div class="icon-box">
                            
                        </div>
                    </div>
                    <div class="card">
                      <div class="card-contenet">
                          <div class="number"id ="demo2"></div>
                          <div class="card-name">Weekly Completed Product</div>
                      </div>
                      <div class="icon-box">
                          
                      </div>
                  </div>
                    <div class="card">
                        <div class="card-contenet">
                            <div class="number"id ="demo3"></div>
                            <div class="card-name">Weekly Process Product</div>
                        </div>
                        <div class="icon-box">
                            
                        </div>
                    </div>
                </div>

                <div class="charts">
                    <div class="chart">
                        <h3 style="color:#0000ff;">Weekly User Visiting Count</h3>
                        <canvas id="lineChart" ></canvas>
                    </div>
                    
                    <div class="chart" id="doughnut-chart">
                        <h3 style="color:#0000ff;">Weekly Most Sellings</h3>
                        <canvas id="doughnut" ></canvas>
                    </div>   
                    </div> 
            </div>
          </div>
          <script>
            let d = new Date().toISOString().slice(0, 10);
            let s= new Date(new Date().getTime() - 2*24*60*60*1000).toLocaleDateString()
            document.getElementById("demo").innerHTML = d;
            document.getElementById("demoz").innerHTML = s;
            </script>

  
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"> </script>
   
    <script>

      var arr1 = [];
      var arr2 = [];
      var arr3 = [];
      var arr4 = [];
      var arr5 = [];
      var arr6 = [];
      var arr7 = [];
      var arr8 = [];
      var arr9 = [];
      var arr10 = [];
      var xz=0;
      var zz=0;

      "<% result.forEach(function(item) { %>" 
       xz =   "<%=item.day%>";  
       zz =   "<%=item.status%>";          
      if (xz =='0') {
      arr1.push("<%=item.id%>");
      }
      if (xz =='1') {
        arr2.push("<%=item.id%>");
        }
        if (xz =='2') {
          arr3.push("<%=item.id%>");
          }
          if (xz =='3') {
            arr4.push("<%=item.id%>");
            }
            if (xz =='4') {
              arr5.push("<%=item.id%>");
              }
              if (xz =='5') {
                arr6.push("<%=item.id%>");
                }
                if (xz =='6') {
                  arr7.push("<%=item.id%>");
                  }

                  if (zz =='pending') {
                    arr8.push("<%=item.id%>");
                   }
                  
                    if(zz =='completed') {
                    arr9.push("<%=item.id%>");
                      } 
                     if(zz=='process') {
                        arr10.push("<%=item.id%>");
                          }
      " <% })%>"

var ctx = document.getElementById('doughnut').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['pending' , 'completed' , 'process'],
        datasets: [{
            label: 'Average ',
            data: [arr8.length,arr9.length,arr10.length,],
            backgroundColor: [
                '#0000ff',
                '#0197f6',
                '#1560bd',
         
                
            ],
            borderColor: [
            '#0000ff',
            '#0000ff',
            '#0000ff',
             
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true
    }
});


var ctx = document.getElementById('lineChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Sunday', 'Monday' , 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' , 'Saturday'],
        datasets: [{
            label: 'no of user engagements',
            data: [arr1.length,arr2.length,arr4.length,arr3.length,arr4.length,arr5.length,arr6.length,arr7.length],
            backgroundColor: [
            '#0000ff',
            ],
            borderColor: [
            '#0000ff',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive:true
    }
});


document.getElementById("demo1").innerHTML = arr8.length; 
document.getElementById("demo2").innerHTML = arr9.length;   
document.getElementById("demo3").innerHTML = arr10.length;


    </script>
 
</body>
</html>