
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/dashboard.css">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
    * {
      box-sizing: border-box;
    }
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
    
    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
      margin-left: 40px;
    }
    
    .inlineButton {
      background-color: #1b1d1b; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      margin-top: 30px;
      margin-left: 25%;
      width: 200px;
    }
    
    input[type=submit] {
      background-color: #232726;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 300px;
      margin-top: 50px;
      margin-left: 20%;
      
      /* float: right;
      align-items: center;
      justify-content: center;
      display: fl; */
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container1 {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }
    
    .col-75 {
      float: left;
      width: 60%;
      margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
    
    
    /* image */
    .form-input {
      width:350px;
      padding:20px;
      background:#fff;
      /* box image */
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    .form-input input {
      display:none;
    
    }
    .form-input label {
      display:block;
      /* width:45%; */
      /* height:45px; */
      margin-left: 25%;
      line-height:20px;
      text-align:center;
      background:gray;
    
      color:#fff;
      font-size:15px;
      font-family:"Open Sans",sans-serif;
      text-transform:Uppercase;
      font-weight:600;
      border-radius:1px;
      cursor:pointer;
    }
    
    .form-input img {
      width:100%;
      display:none;
    
      margin-bottom:30px;
    }
    
    
    /* button group */
    
    .btn-group button {
      background-color: #04AA6D; /* Green background */
      border: 1px solid green; /* Green border */
      color: white; /* White text */
      padding: 10px 24px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      float: left; /* Float the buttons side by side */
    }
    
    /* Clear floats (clearfix hack) */
    .btn-group:after {
      content: "";
      clear: both;
      display: table;
    }
    
    .btn-group button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
    
    /* Add a background color on hover */
    .btn-group button:hover {
      background-color: #3e8e41;
    }
    
    /* dropdown button */
    
    .dropbtn {
      background-color: #e6f3e6;
      color: black;
      padding: 10px;
      font-size: 15px;
     border-radius: 4px;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 105px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
    
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #0000ff;
      color: white;
    
    }


    /* table buttons -new 11.21*/
    .buttontb {
background-color: #2777d9; /* Green */
color: white;
/*border: 1px solid #0000ff;  */
color: white;
padding: 1px 1px;
text-align: center;
text-decoration: none;
font-size: 15px;
cursor: pointer;
width: 70px;
display: block;
border-radius:5px;
}

.buttontb:not(:last-child) {
border-bottom: none; /* Prevent double borders */
}

.buttontb:hover {
background-color: #0000ff;
}
</style>
	<title>DSD Watch Center - Admin</title>
</head> 
<body>
    <div class="containerx">
        <div class="topbar">
            <div class="logo">
                <h2>Welcome - User</h2>

            </div>

            <div class="search">
                <h2 >DSD Watch Center-Admin Dashboard</h2>
            </div>
            <!-- <i class="fas fa-bell"></i> -->
            <div class="serch">
                <a class="button-logout"  href="/adminLogout" role="button"class="btn btn-primary btn-sm">LogOut</a>
              </div>
        </div>
            <div class="sidebar">
                <ul>
                    <li>
                        <a href="home">
                            <i class="fas fa-th-large"></i>
                            <div>Home</div>
                        </a>
                    </li>
                    <li>
                        <a href="addProduct">
                            <i class="fas fa-th-large"></i>
                            <div>Add Product</div>
                        </a>
                    </li>
                    <li>
                        <a href="view">
                            <i class="fas fa-th-large"></i>
                            <div>View & Update Product</div>
                        </a>
                    </li>
                    <li>
                        <a href="orders">
                            <i class="fas fa-th-large"></i>
                            <div>Orders</div>
                        </a>
                    </li>
              
                  <li>
                    <a href="addCatogory">
                        <i class="fas fa-th-large"></i>
                        <div>Category</div>
                    </a>
                </li>

                <% if (role==1) { %>
                   
                  <%} else if (role==2)  { %>
                    <li>
                        <a href="profile">
                            <i class="fas fa-th-large"></i>
                            <div>Admin profile</div>
                        </a>
                    </li>
                     <li>
                         <a href="transaction"class="active">
                             <i class="fas fa-th-large"></i>
                             <div>Reports</div>
                         </a>
                     </li>
                     <li>
                       <a href="analyzing">
                           <i class="fas fa-th-large"></i>
                           <div>Analyzing</div>
                       </a>
                   </li>
                  <% } %> 
                  </div>
              
                </ul>
            </div>
        

            <div class="main">
     
                <div style="margin-top: 50px;" >
                  <input type="submit" value="Genarate Transaction Report" style="background-color: #0000ff;margin-left:200px;margin:10px"onclick="generatePDF()">

                <h2 style="text-align:center;margin-top:30px; margin-left:30px;color: #0000ff;">Transaction Summary</h2>
                
                <table id="customers" style="width: 95%;justify-content: center;margin-left: 10px;margin-top: 20px;">
                  <tr>
                    <th>Order ID</th>
                    <th>Sub ID</th>
                    <th>Product  id</th>
                    <th>name</th>
             
                    <th>Order Date</th>
                    <th>Quantity</th>
                    <th>Total</th>
              
                  </tr>
                  <% result.forEach(function(item) { %>
   
                    <tr>
                    <td><%=item.orderId%></td>
                    <td><%=item.id%></td>
                    <td><%=item.productID%></td>
                    <td><%=item.name%></td>
            
                    <td><%=item.date%></td>
                    <td><%=item.quantity%></td>
                    <td><%=(item.price*item.quantity)+(item.customizationCharges*item.quantity)%></td>

                  </tr>
                                  
                   <% })%>     
                </table>

         

                <h2 style="text-align:center;margin-top:70px; margin-left:30px;color: #0000ff;">Customization Product Summary</h2>
                
                <table id="customers" style="width: 95%;justify-content: center;margin-left: 10px;margin-top: 20px;">
                  <tr>
                    <th>Order ID</th>
                    <th>Product  id</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Quantity</th>
                    <th>Customization</th>
                    <th>Total</th>
              
                  </tr>
                  <% result.forEach(function(item) { %>
                    <%if(item.custermize=='yes'){ %>
                    <tr>
                    <td><%=item.orderId%></td>
                    <td><%=item.productID%></td>
                    <td><%=item.name%></td>
                    <td><%=item.date%></td>
                    <td><%=item.quantity%></td>
                    <td><%=item.custermize%></td>
                    <td><%=(item.price*item.quantity)+(item.customizationCharges*item.quantity)%></td>

                  </tr>  
                  <% } %>                   
                   <% })%>     
                </table>
            </div>
          </div>
        </div>
            <div class="invisible" >
            <div id="invoice">
                <h1 style="text-align:center;font-family:Verdana;margin-top:20px; margin-left:15px;color:black;font-size:20px">Transaction Report </h1>
                <h1 style="text-align:center;font-family:Verdana;margin-top:20px; margin-left:15px;color:black;font-size:15px">DSD Watch Center (Pvt) Ltd</h1>
                <h1 style="text-align:center;font-family:Verdana;margin-top:20px; margin-left:15px;color:black;font-size:15px"><span>Adress : 51/9 SS plaza Bambalapitiya, Colombo. Tel No:(+94)-70525181</span></h1>
                <h1 style="font-size:15px ;margin-left:82%" id="demo"></h1>
               
                <table id="" style="width: 95%;justify-content: center;margin-left: 10px;margin-top: 20px;">
                  <tr>
                    <th>Order ID</th>
                    <th>Sub ID</th>
                    <th>Product  id</th>
                    <th>name</th>
      
                    <th>Order Date</th>
                    <th>Quantity</th>
                    <th>Customization</th>
                    <th>Total</th>
             
                  </tr>
                  <% result.forEach(function(item) { %>
                    <tr>
                    <td><%=item.orderId%></td>
                    <td><%=item.id%></td>
                    <td><%=item.productID%></td>
                    <td><%=item.name%></td>
                    <td><%=item.date%></td>
                    <td><%=item.quantity%></td>
                    <td><%=item.custermize%></td>
                    <td><%=(item.price*item.quantity)+(item.customizationCharges*item.quantity)%></td>
                  </tr>                    
                   <% })%>     
                </table>
              </div>
            </div>
          </div>
        </div>   
            
            <script>
                function generatePDF() {
                    const element = document.getElementById('invoice');
                    html2pdf()
                        .from(element)
                        .save();
                }
            </script>
            <script>
              let d = new Date().toISOString().slice(0, 10);
              document.getElementById("demo").innerHTML = d;   
              </script>
            
               <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
               <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
               <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  
               
</body>
</html>